@import "~@angular/material/theming";

.toolbar {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  flex-wrap: wrap;
  height: auto;
  align-items: center;

  span {
    cursor: pointer;
  }

  .button-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.8rem;
  }
}

.dark-theme {
  background: #707070;
  height: 100%;
}

.name-example {
  text-align: center;
  padding: 2rem;
  font-size: 1rem;
  line-height: 2rem;
  color: #2a2a2a;
}
