.toolbar {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;

  span {
    cursor: pointer;
  }

  .button-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.8rem;
  }
}
