<div [ngClass]="{'dark-theme': isDarkTheme$ | async}">
  <mat-toolbar color="primary" class="toolbar">
    <span routerLink="/">Angular architecture example</span>
    <div class="button-group">
      <mat-slide-toggle [checked]="isDarkTheme$ | async" (change)="toggleDarkTheme($event.checked)">Enable Dark Mode</mat-slide-toggle>
      <button
        mat-icon-button
        routerLink="table"
        aria-label="Reactive form with table page"
        matTooltip="Reactive table example"
      >
        <mat-icon>table_rows</mat-icon>
      </button>
      <button mat-icon-button routerLink="to-do" aria-label="Checklist page" matTooltip="To-Do List">
        <mat-icon>checklist</mat-icon>
      </button>
      <button mat-button routerLink="fetching">Fetch Data</button>
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
