<h1>Fetched items</h1>

<div class="current-user">
  <h3>Current user is: {{ facade.currentUser().userName }}</h3>
  <button mat-stroked-button color="primary" (click)="changeUserId()">Change userId</button>
  <button mat-stroked-button color="primary" (click)="changeUserName()">Change userName</button>
</div>

<button mat-raised-button color="primary" (click)="addTodo()">Add new todo</button>

<div class="list">
  <div *ngFor="let todo of (facade.allTodosSignal())">
    <span class="title">{{todo.title}}</span>  <span class="status" [class.isCompleted]="todo.completed">{{ todo.completed }}</span>
    <button (click)="removeTodo(todo.id)">Remove todo {{ todo.id }}</button>
  </div>
</div>
